absl-py==1.4.0
accelerate==0.28.0
aiohttp==3.8.4
aiosignal==1.3.1
alabaster 
albumentations==1.3.1
altair==4.2.2
anyio 
appdirs==1.4.4
argon2-cffi 
argon2-cffi-bindings 
arrow 
astroid 
astropy 
asttokens 
astunparse==1.6.3
async-timeout==4.0.2
atomicwrites==1.4.0
attrs 
Automat 
autopep8 
Babel 
backcall 
backports.functools-lru-cache 
backports.tempfile 
backports.weakref==1.0.post1
bcrypt 
beautifulsoup4 
binaryornot 
bitsandbytes==0.42.0
black 
bleach 
blinker==1.7.0
blis==0.7.9
bokeh 
boltons 
Bottleneck 
brotlipy==0.7.0
cachetools==5.3.1
catalogue==2.0.8
certifi 
cffi 
chardet 
charset-normalizer 
cloudpickle 
colorama 
colorcet 
comm 
commonmark==0.9.1
confection==0.1.0
constantly==15.1.0
contourpy 
cookiecutter 
cryptography 
cssselect==1.1.0
cycler 
cymem==2.0.7
cytoolz 
dask 
dataclasses-json==0.6.1
datasets==2.16.1
datashader 
debugpy 
decorator 
defusedxml 
diff-match-patch 
diffusers==0.25.1
dill 
distributed 
dm-tree==0.1.8
docstring-parser==0.15
docstring-to-markdown 
docutils 
entrypoints 
et-xmlfile==1.1.0
evaluate==0.4.0
executing 
fastjsonschema 
filelock 
flake8 
Flask 
flatbuffers==23.5.26
flit_core 
fonttools==4.25.0
foolnltk==0.1.7
frozenlist==1.3.3
fst-pso==1.8.1
future 
FuzzyTM==2.0.5
gast==0.4.0
gensim 
glob2 
greenlet 
grpcio==1.56.0
h5py==3.10.0
HeapDict 
hiddenlayer==0.3
holoviews 
hvplot 
hyperlink 
idna 
imagecodecs 
imageio 
imagesize 
imbalanced-learn 
imgaug==0.4.0
incremental 
inflection==0.5.1
iniconfig 
intake 
intervaltree 
invisible-watermark==0.2.0
isort 
itemadapter 
itemloaders 
itsdangerous 
jax==0.4.12
jedi 
jellyfish 
jieba==0.42.1
Jinja2 
jinja2-time 
jmespath 
joblib 
json5 
jsonpatch==1.33
jsonpointer==2.1
jsonschema 
keyring 
kiwisolver 
lazy-object-proxy 
libarchive-c 
libclang==16.0.0
lightgbm==4.0.0
llvmlite==0.39.1
lmdb==1.4.1
locket 
loralib==0.1.2
lxml 
lz4 
MarkupSafe 
marshmallow==3.20.1
matplotlib 
mccabe 
mdurl==0.1.2
menuinst 
miniful==0.0.6
mistune 
mkl-fft==1.3.1
mkl-random 
mkl-service==2.4.0
ml-dtypes==0.3.2
mock 
mpmath==1.2.1
msgpack 
multidict==6.0.4
multipledispatch 
multiprocess==0.70.14
munkres==1.1.4
murmurhash==1.0.9
mypy-extensions==0.4.3
namex==0.0.7
navigator-updater==0.3.0
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
nltk 
notebook 
notebook_shim 
numba 
numexpr 
numpy 
numpydoc 
oauthlib==3.2.2
opt-einsum==3.3.0
pandas 
pandocfilters 
panel 
param 
paramiko 
parsel 
parso 
partd 
pathlib 
pathspec 
pathtools==0.1.2
pep8==1.7.1
pexpect 
pickleshare 
Pillow==9.4.0
pkginfo 
platformdirs 
plotly 
pluggy 
ply==3.11
pooch 
portalocker==2.0.0
poyo 
preshed==3.0.8
prettytable==3.8.0
Protego 
protobuf==4.23.3
psutil 
ptyprocess 
pure-eval 
pycodestyle 
pycosat 
pycparser 
pyct 
pycurl==7.45.1
pydantic==1.10.11
pydeck==0.8.1b0
PyDispatcher==2.0.5
pydocstyle 
pydot==2.0.0
pyecharts==2.0.3
pyerfa 
pyflakes 
pyFUME==0.2.25
Pygments==2.17.2
PyHamcrest 
PyJWT 
pylint 
pylint-venv 
pyls-spyder==0.4.0
PyNaCl 
pyodbc 
pyOpenSSL 
pyparsing 
PyQt5==5.15.7
PyQtWebEngine==5.15.4
pyrsistent 
PyWavelets 
pywinpty 
PyYAML 
pyzmq 
QDarkStyle 
qstylizer 
QtAwesome 
qtconsole 
QtPy 
qudida==0.0.4
queuelib==1.5.0
regex 
requests 
requests-file 
requests-oauthlib==1.3.1
requests-toolbelt 
responses==0.18.0
rich==13.7.0
rope 
rsa==4.9
Rtree 
ruamel-yaml-conda 
ruamel.yaml 
ruamel.yaml.clib 
sacrebleu==1.5.1
safetensors==0.4.2
scikit-image 
scikit-learn 
scipy==1.10.0
Scrapy 
seaborn 
Send2Trash 
seqeval==1.2.2
service-identity 
shapely==2.0.2
shtab==1.6.5
simpful==2.11.0
simplejson==3.19.1
sip 
six 
smart-open 
smmap==5.0.1
sniffio 
snowballstemmer 
sortedcontainers 
soupsieve 
spacy==3.6.0
Sphinx 
SQLAlchemy 
srsly==2.4.6
stack-data 
statsmodels 
streamlit==1.32.2
streamlit-aggrid==1.0.0
sympy 
tables==3.7.0
tabulate 
tblib 
tenacity==8.2.3
termcolor==1.1.0
terminado 
text-unidecode 
textdistance 
thinc==8.1.10
threadpoolctl 
three-merge 
tifffile 
tinycss2 
tldextract 
toml 
tomli 
tomlkit 
toolz 
tornado 
tqdm 
traitlets 
trl==0.7.10
Twisted 
twisted-iocpsupport 
typer==0.9.0
typing-inspect==0.9.0
typing_extensions 
tyro==0.7.0
tzlocal==5.2
ujson 
urllib3 
validators==0.22.0
w3lib 
watchdog 
wcwidth 
webencodings==0.5.1
websocket-client 
Werkzeug 
whatthepatch 
widgetsnbextension 
win-inet-pton 
wincertstore==0.2
wordcloud==1.9.2
wrapt 
xarray 
xlwings 
xxhash==3.2.0
yapf 
yarl==1.9.2
zh-core-web-sm 
zict==2.1.0
zipp 
zope.interface 
zstandard==0.19.0
